<p-card class="div1 custom-card">
  <div class="card-content">
    <div class="card-text">
      <h2>Agenda y Eventos</h2>
      <h4>Descubre nuestro calendario</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
        numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <button pButton type="button" label="Ver más >" class="p-button ver-mas-btn mt-2" [routerLink]="'/agenda'"></button>
    </div>
    <div class="card-img">
      <img src="agenda.png" alt="Agenda" />
    </div>
  </div>
</p-card>
