<div class="page-content">
    <div class="introduction">
        <p-card class="div1 custom-card">
            <div class="card-content">
                <div class="card-text">
                    <h2>Referentes de Atención Hospitalaria</h2>
                    <h4>Liderazgo clínico en entornos especializados</h4>
                    <p>
                        Los referentes hospitalarios en Enfermería de Práctica Avanzada (EPA) son figuras clave en la
                        coordinación, la toma de decisiones clínicas y la implementación de prácticas basadas en la
                        evidencia. Su experiencia y formación especializada permiten mejorar los resultados en salud,
                        optimizar los recursos y fomentar una cultura de calidad en la atención hospitalaria.
                    </p>
                </div>
                <div class="card-img">
                    <img src="refAH.jpg" alt="Competencias EPA-HCC" />
                </div>
            </div>
        </p-card>
    </div>
    <h2 style="text-align: center;">Organigrama</h2>
    <div>
        <p-organization-chart [value]="referentesHospital" [collapsible]="true">
            <ng-template let-node pTemplate="default">
                <div class="ref-node">
                    <img [src]="node.data.foto" [alt]="node.label" class="ref-img" />
                    <div class="ref-name">{{ node.label }}</div>
                    <div class="ref-hospital"><i class="pi pi-caret-right" style="font-size: 1rem"></i> {{ node.data.hospital }}</div>
                    <div class="referente-exp"><i class="pi pi-briefcase" style="font-size: 1rem"></i> {{ node.data.experiencia }} años de experiencia</div>
                </div>
            </ng-template>
        </p-organization-chart>
    </div>
</div>