<div class="page-content">
    <!-- <p-card class="div1">
    <img src="agenda.png" alt="Agenda" class="agenda-img" />
    <h2 class="title">Agenda y eventos</h2>
    <button pButton type="button" label="Ver más >" class="p-button ver-mas-btn"></button>
  </p-card> -->

    <p-card class="div1">
        <ng-template #header>
            <img alt="Agenda" class="w-full" src="agenda.png" class="agenda-img" />
        </ng-template>
        <ng-template #title> Agenda y Eventos </ng-template>
        <ng-template #subtitle> Descrube nuestro calendario </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <button pButton type="button" label="Ver más >" class="p-button ver-mas-btn"></button>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div2">
        <ng-template #header>
            <img alt="Competencias" class="w-full" src="competencias.png" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/competencias'">Competencias</a>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div3">
        <ng-template #header>
            <img alt="ReferentesAP" class="w-full" src="refAP.jpg" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/referentes-ap'">Referentes Atención Primaria</a>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div4">
        <ng-template #header>
            <img alt="ReferentesAH" class="w-full" src="refAH.jpg" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/referentes-ah'">Referentes Atención Hospitalaria</a>
            </div>
        </ng-template>
    </p-card>
</div>