<div class="page-content">

    <p-card class="div1">
        <ng-template #header>
            <img alt="Agenda" class="w-full" src="agenda.png" class="agenda-img" />
        </ng-template>
        <ng-template #title> Agenda y Eventos </ng-template>
        <ng-template #subtitle> Descrube nuestro calendario </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <button pButton type="button" class="p-button ver-mas-btn" [routerLink]="'/agenda'">Ver más
                    <i class="pi pi-arrow-right" style="font-size: 1rem"></i>
                </button>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div2">
        <ng-template #header>
            <img alt="Competencias" class="w-full" src="competencias.png" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/competencias'">Competencias</a>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div3">
        <ng-template #header>
            <img alt="ReferentesAP" class="w-full" src="refAP.jpg" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/referentes-ap'">Referentes Atención Primaria</a>
            </div>
        </ng-template>
    </p-card>

    <p-card class="div4">
        <ng-template #header>
            <img alt="ReferentesAH" class="w-full" src="refAH.jpg" class="img" />
        </ng-template>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <a class="section-link" [routerLink]="'/referentes-ah'">Referentes Atención Hospitalaria</a>
            </div>
        </ng-template>
    </p-card>
</div>
<!-- Section 3 grey row document -->
<div class="grey-section">
    <div class="doc-div">
        <img src="doc_home_comp.jpg" alt="Documento" class="doc-img" />
        <p-card class="doc-card">
            <ng-template #title>Documento Oficial de la EPA HCC</ng-template>
            <!-- <ng-template #footer>
                <button pButton type="button" label="Ver más >" class="p-button ver-mas-btn"></button>
            </ng-template> -->
            <a pButton
                href="https://www.sspa.juntadeandalucia.es/servicioandaluzdesalud/sites/default/files/sincfiles/wsas-media-mediafile_sasdocumento/2019/epa_heridas_cronicas_complejas.pdf"
                target="_blank" rel="noopener noreferrer" class="p-button ver-mas-btn">Ver más <i class="pi pi-arrow-right" style="font-size: 1rem"></i></a>
        </p-card>
    </div>
</div>
<!-- Section 4 video -->
<div class="video-wrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sKZO-rnGSUo?controls=1&autoplay=0"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>