<div class="page-content">

    <p-toast></p-toast>

    <div class="contact-form p-fluid p-formgrid grid">
        <h2 class="col-12 text-center text-2xl font-semibold mb-4">Formulario de Contacto</h2>

        <div class="field col-12 md:col-6">
            <label for="nombre" class="contact-label">Nombre</label>
            <input id="nombre" type="text" pInputText [(ngModel)]="form.nombre" class="contact-input" />
        </div>

        <div class="field col-12 md:col-6">
            <label for="telefono" class="contact-label">Teléfono</label>
            <p-inputNumber inputId="telefono" [(ngModel)]="form.telefono" [useGrouping]="false" [min]="100000000"
                [max]="999999999" class="contact-input" required />
            <div *ngIf="form.telefono && (form.telefono < 100000000 || form.telefono > 999999999)"
                class="text-red-600 text-sm mt-1 validation">
                El teléfono debe tener exactamente 9 dígitos.
            </div>
        </div>

        <div class="field col-12">
            <label for="provincia" class="contact-label">Provincia</label>
            <p-dropdown [options]="provinciasAndalucia" [(ngModel)]="form.provincia"
                placeholder="Selecciona una provincia" inputId="provincia" class="contact-input"
                appendTo="body"></p-dropdown>
        </div>

        <div class="field col-12">
            <label for="mensaje" class="contact-label">Mensaje</label>
            <p-editor [(ngModel)]="form.mensaje" [style]="{ height: '150px' }" class="contact-editor"></p-editor>
        </div>

        <div class="field col-12 flex justify-content-end">
            <p-button label="Enviar" icon="pi pi-send" (onClick)="sendForm()"></p-button>
        </div>
    </div>

</div>