<footer class="footer-container">
    <div class="footer-content">
        <div class="contact-info">
            <h2 class="footer-title">EPA-HCC. Excelencia en los cuidados</h2>
            <p><strong>Contacto</strong></p>
            <p>EPA-HCC Área Sur Sevilla</p>
            <p>C/ Carretera de Cádiz km 548,9</p>
            <p>41014 Sevilla</p>
            <p><i class="pi pi-phone"></i> +34 666 666 666</p>
            <p><i class="pi pi-envelope"></i> epadistsursevilla&#64;gmail.com</p>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-icon">
            <i class="pi pi-instagram"></i>
        </div>
        <button class="scroll-top-btn" (click)="scrollToTop()" pButton aria-label="Volver arriba">
            <i class="pi pi-arrow-up"></i>
        </button>
    </div>
</footer>